n8n-lead-capture-hubspot-v1.json
{
  "name": "lead-capture-hubspot-v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ba54a8dd-d4dd-4d8a-967c-1206d8f55dcc",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "2a9aae19-47b9-466c-b6bc-851f16602bc0",
      "name": "Webhook",
      "webhookId": "ba54a8dd-d4dd-4d8a-967c-1206d8f55dcc"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "79303185-37b1-47ba-ad1a-7078d662a164",
              "name": "status",
              "value": "FAILED",
              "type": "string"
            },
            {
              "id": "17961b81-2c17-4e6f-bf66-119e1696dfe4",
              "name": "error_message",
              "value": "Missing required fields",
              "type": "string"
            },
            {
              "id": "08e83ea1-f312-47a1-bb31-8adc76318b76",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "9486824d-a606-43f1-8d33-a03467545481",
              "name": "timestamp",
              "value": "={{ $now.toFormat('dd MMM yyyy, HH:mm:ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        96
      ],
      "id": "4d4f7b84-14b8-4591-ac97-fbb0b03a31ab",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2921b5b-d2b0-4d9a-a675-5c24e6bad844",
              "name": "status",
              "value": "FAILED",
              "type": "string"
            },
            {
              "id": "ece0ebb3-a6a2-4016-90ef-f61fcd07e650",
              "name": "error_message",
              "value": "Wrong email format",
              "type": "string"
            },
            {
              "id": "32580322-0e9f-48e0-97e7-70f0a02c2833",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "75247570-781a-45a6-8154-d98e0c63cc9e",
              "name": "timestamp",
              "value": "={{ $now.toFormat('dd MMM yyyy, HH:mm:ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        -64
      ],
      "id": "de1b6bf9-cc28-4827-9a2a-a9a768550c98",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c8a7cc55-2b53-4005-a7e9-1ca704074ba9",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "c16295cf-ff06-40c9-9170-f752f4b2e49e",
              "leftValue": "={{ $json.body.first_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "1436a854-8e2e-44f4-a953-cc4ccaea6044",
      "name": "Check email and first_name exists"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b75332c5-1fc4-4171-8abe-49b7ff0e763a",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,6}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        -160
      ],
      "id": "4bb255a3-418a-4aa3-b6c1-4aadefc43a7d",
      "name": "Check email format"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are a CRM assistant. Based on this lead message, do two things:\n1. Write a 2-sentence summary of what this lead needs\n2. Score them: hot / warm / cold\n\nLead message: {{ $('Webhook').item.json.body.message }}\n\nRespond in this format:\nSummary: ...\nScore: hot/warm/cold"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        832,
        -256
      ],
      "id": "9d5f328b-a142-4990-b242-af6410ed2abe",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "GenQKdkF0K2m8b4y",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "44df0812-c222-4e8a-b956-c735480c74ff",
              "name": "Summary",
              "value": "={{ $json.output[0].content[0].text.match(/Summary:\\s*([\\s\\S]*?)\\s*Score:/)?.[1] }}",
              "type": "string"
            },
            {
              "id": "81d34d05-c47b-468a-9599-78ead7f61542",
              "name": "score",
              "value": "={{ $json.output[0].content[0].text.match(/Score:\\s*(.*)/)?.[1] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        -256
      ],
      "id": "785e7a54-5be4-4451-b989-e8a140b2e272",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "authentication": "appToken",
        "email": "={{ $json.body.email }}",
        "additionalFields": {
          "firstName": "={{ $json.body.first_name }}",
          "lastName": "={{ $json.body.last_name }}",
          "phoneNumber": "={{ $json.body.phone }}"
        },
        "options": {
          "resolveData": false
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        624,
        -256
      ],
      "id": "116d2853-0735-4f45-a9c9-2b414dc62f40",
      "name": "Hubspot1",
      "credentials": {
        "hubspotAppToken": {
          "id": "SgIaUGC97y2nKab0",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "email": "={{ $('Webhook').item.json.body.email }}",
        "additionalFields": {
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "ai_summary",
                "value": "={{ $json.Summary }}"
              },
              {
                "property": "lead_score",
                "value": "={{ $json.score }}"
              }
            ]
          }
        },
        "options": {
          "resolveData": false
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        1392,
        -256
      ],
      "id": "c4fc8d3f-44da-4d6f-9014-74e8f296e77c",
      "name": "Hubspot2",
      "credentials": {
        "hubspotAppToken": {
          "id": "SgIaUGC97y2nKab0",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "makanajayah@gmail.com",
        "subject": "=New Lead: {{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}",
        "message": "=<h2>🔥 New Lead Captured</h2>\n\n<table>\n  <tr><td><b>Name</b></td><td>{{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}</td></tr>\n  <tr><td><b>Email</b></td><td>{{ $('Webhook').item.json.body.email }}</td></tr>\n  <tr><td><b>Phone</b></td><td>{{ $('Webhook').item.json.body.phone }}</td></tr>\n  <tr><td><b>Score</b></td><td>{{ $('Edit Fields2').item.json.score }}</td></tr>\n</table>\n\n<h3>📝 AI Summary</h3>\n<p>{{ $('Edit Fields2').item.json.Summary }}</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1600,
        -256
      ],
      "id": "80db9e4b-2264-4621-a234-c4fbd6abb3b7",
      "name": "Send a message",
      "webhookId": "c5c8373b-3a89-419c-a476-b2efa26fe35b",
      "credentials": {
        "gmailOAuth2": {
          "id": "t28nhQM9fHLdpZ3O",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1S52v1J-7ev3xGaiEbHpDWk7Eld3WUxJGjdlM_eWjNHk",
          "mode": "list",
          "cachedResultName": "lead-logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S52v1J-7ev3xGaiEbHpDWk7Eld3WUxJGjdlM_eWjNHk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "lead-logs-error",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S52v1J-7ev3xGaiEbHpDWk7Eld3WUxJGjdlM_eWjNHk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "={{ $json.status }}",
            "error_message": "={{ $json.error_message }}",
            "email": "={{ $json.email }}",
            "timestamp": "={{ $json.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        816,
        -64
      ],
      "id": "901a8d38-6d56-4bc5-a0c1-6f0498cc662e",
      "name": "Error Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "u6aqLOMCwLaEue0j",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1S52v1J-7ev3xGaiEbHpDWk7Eld3WUxJGjdlM_eWjNHk",
          "mode": "list",
          "cachedResultName": "lead-logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S52v1J-7ev3xGaiEbHpDWk7Eld3WUxJGjdlM_eWjNHk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "lead-logs-error",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S52v1J-7ev3xGaiEbHpDWk7Eld3WUxJGjdlM_eWjNHk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "email": "={{ $json.email }}",
            "error_message": "={{ $json.error_message }}",
            "status": "={{ $json.status }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        96
      ],
      "id": "3421c183-e706-485c-aab7-b175d32a47b1",
      "name": "Error Log1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "u6aqLOMCwLaEue0j",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1S52v1J-7ev3xGaiEbHpDWk7Eld3WUxJGjdlM_eWjNHk",
          "mode": "list",
          "cachedResultName": "lead-logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S52v1J-7ev3xGaiEbHpDWk7Eld3WUxJGjdlM_eWjNHk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 440562838,
          "mode": "list",
          "cachedResultName": "lead-logs-success",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S52v1J-7ev3xGaiEbHpDWk7Eld3WUxJGjdlM_eWjNHk/edit#gid=440562838"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.toFormat('dd MMM yyyy, HH:mm:ss') }}",
            "email": "={{ $('Webhook').item.json.body.email }}",
            "score": "={{ $('Edit Fields2').item.json.score }}",
            "name": "={{ $('Webhook').item.json.body.first_name }} {{ $('Webhook').item.json.body.last_name }}",
            "status": "SUCCESS"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1808,
        -256
      ],
      "id": "ec2992f7-4aa2-47cc-a6fd-b414491661d7",
      "name": "Success Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "u6aqLOMCwLaEue0j",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check email and first_name exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Error Log1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Error Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check email and first_name exists": {
      "main": [
        [
          {
            "node": "Check email format",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check email format": {
      "main": [
        [
          {
            "node": "Hubspot1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Hubspot2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hubspot1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hubspot2": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Success Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0a6f39b3-e014-46ce-93e9-640e5f87ccc1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ab4da710a8e5e399600a494b56823a58c73a4cfb4b7d4aa1a9b2cd8cfec75e18"
  },
  "id": "x8wf2uDwqpbXmcPD",
  "tags": []
}